<div class="jumbotron">
    <h1>WEB API</h1>
    <p class="lead">Tai automatinės darbo laiko sekimo sistemos WEB API puslapis</p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Darbuotojų duomenys</h2>
        <p>Norint gauti darbuotojų duomenis į API reikia kreiptis <b>GET</b> metodu nuoroda <b>/api/users</b></p>
    </div>
    <div class="col-md-4">
        <h2>Įvykių duomenys</h2>
        <p>Norint gauti įvykių duomenis į API reikia kreiptis <b>GET</b> metodu nuoroda <b>/api/entries</b></p>
    </div>
    <div class="col-md-4">
        <h2>Sistemos nustatymai</h2>
        <p>Norint gauti sistemos nustatymus į API reikia kreiptis <b>GET</b> metodu nuoroda <b>/api/settings</b></p>
    </div>
</div>
